:root{
    --bgcolor3: linear-gradient(to right, #96c93d, #00b09b);;
}
body{

    background: var(--bgcolor3);
}

button{
    background-color: #96c93d;
    padding: 5px 15px;
    border-radius: 5px;
    color:white;
}

/*modal*/
#modal::backdrop{
    background-color:rgba(0, 0, 0, .55);
    color: white;
    
}

#carouselingo{
    margin-top: 50px;
}

#ofertasa{
    background-color: aliceblue;
    text-align: center;

}

#preciogato{
    color: darkgrey;
}
#aboutusbody{
    text-align: center;
}
