{% extends "petscop/base.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block content %}
  {% load humanize %}
  <div class="container">
    <div>
      <hr>
      <h2>Productos</h2>
    </div>
    <div class="row">
      {% for p in productos %}
      <div class="col-md-4">
        <div class="card mb-4">
          {% if p.imagen %}
          <img src="{{ p.imagen.url }}" class="card-img-top" alt="imagen producto">
          {% endif %}
          <div class="card-body">
            <h5 class="card-title">{{ p.marca|capfirst }}</h5>
            <h2 class="card-text">{{ p.nombre|title }}</h2>
            <h3 class="card-text">{{ p.precio|intcomma }}</h3>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

{% endblock %}
